{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "STORAGE_ACCOUNT_URL": "https://REPLACE_STORAGE_ACCOUNT.blob.core.windows.net",
    "LOGS_CONTAINER": "logs",
    "REPORTS_CONTAINER": "reports"
  }
}
